body{
    padding-bottom: 1rem;
}
.sevir{
    position: relative;
    padding-left: .8rem!important;
}
.sevir>img{ width: .5rem; position: absolute; left: .1rem; top: .1rem;}
.dynamic .bd{border-bottom: 1px solid #f4f4f4;}
.content .con-hd .tit .pic{
    border-radius: 100%;
    overflow: inherit;
}
.content .con-hd .tit{
    line-height: .4rem;
    padding-left: 1.3rem;
    height: 2rem;
}
.content .con-hd .tit>span{
    margin-right: .2rem;
}



